.detailmuseum-body{
    height: 100vh;
}

.detailmuseum-section1{
    width: 100%;
    height: 80%;
    background-color: red;
}

.detailmuseum-section2{
    width: 100%;
    height: 80%;
    background-color: blue;
}