.login-body{
    height: 100vh;
}

.login-section1{
    width: 100%;
    height: 80%;
    background-image: url('../image/a.jpg');
}

.login-section2{
    width: 100%;
    height: 80%;
    background-color: blue;
}