/* Updated CSS for ViewAdmin */
/* css/ViewAdmin.css */

.viewadmin-body {
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  color: #333;
  min-height: 100vh;
  max-height: fit-content;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.title-black {
  color: black;
}

.title-red {
  color: red;
}

.search-add-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover, .search-button:hover {
  background-color: darkred;
}

.museum-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 columns */
  gap: 15px;
  margin: 20px;
  min-height: 100vh;
  max-height: fit-content;
}


.museum-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: fit-content;
}

.museum-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.popular-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.edit-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin: 10px;
}

.edit-button:hover {
  background-color: darkred;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
